.App {
  text-align: center;
}

.header {
  text-align: center;
  color: #008B8B;
  width: 100vw;
  height: 60px;
}

.search-bar {
  width: 100vw;
  height: 60px;
  background-color: #F4F4F4;
}

.search {
  margin: 20px 10px 10px 10px;
  text-align: center;
}

.book-display {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  align-content: space-around;
  float: left;
  height: 100vh;
  width: 200px;
  margin: auto;
}

.book-covers {
  width: 180px;
  height: 200px;
  
}

.titles {
  font-size: 1em;
  margin: auto;
}

.authors {
  font-size: 1em;
  margin: auto;
}

.shelf {
  float: right;
  height: 100vh;
  width: 300px;
}

.shelf-books {
  font-size: 1em;
}

.your-shelf {
  margin: 20px;
}
